{% extends "base.html" %}
{% block title %}Travel Buddy - Home{% endblock %}
{% block content %}
<h1>All Trips</h1>
    {% if session['username'] %}
    <form method="post" action="{{ url_for('views.home') }}">
        <div>
            <label for="interest">Express interest:</label>
            <input type="text"  id="interest" name = "interest" placeholder="Enter Trip Id">
            <button type = "submit"> Submit </buttonf>
        </div>
    </form>
    {% endif %}
    {% if trips_data %}
        <ul>
            {% for trip in trips_data %}
        <div>
        <strong>ID:</strong> {{ trip.trip_id }}<br>
        <strong>Date From:</strong> {{ trip.date_from }}<br>
        <strong>Date To:</strong> {{ trip.date_to }}<br>
        <strong>Location From:</strong> {{ trip.location_from }}<br>
        <strong>Location To:</strong> {{ trip.location_to }}<br>
        <strong>Weather:</strong><br>
        <ul>
            {% for weather_data in trip.weather %}
                <li>
                    Date: {{ weather_data.date }}  Avg-Temp: {{ weather_data.avgtemp_c }}°C  Condition: {{ weather_data.condition }}<br>
                </li>
            {% endfor %}
        </ul>
        </div>
        <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No trips available.</p>
    {% endif %}
{% endblock %}