{% extends "base.html" %}
{% block title %}Travel Buddy - Your Trips{% endblock %}
{% block content %}
<h1>All Trips</h1>
    {% if trips_data %}
        <ul>
            {% for trip in trips_data %}
                <li>
                    <strong>This User Expressed Interest:</strong> {{ trip.username }}<br>
                    <strong>Date From:</strong> {{ trip.date_from }}<br>
                    <strong>Date To:</strong> {{ trip.date_to }}<br>
                    <strong>Location From:</strong> {{ trip.location_from }}<br>
                    <strong>Location To:</strong> {{ trip.location_to }}<br>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No trips available.</p>
    {% endif %}
{% endblock %}